:root {
  --primary: rgb(33, 42, 60);
  --secondary: rgb(120, 169, 192);
  --tertiary: rgb(179, 190, 176);
  --pending: rgb(69, 176, 134);
  --rejected: rgb(178, 89, 89);
  --hired: rgb(109, 169, 219);
  --button: rgb(182, 199, 215);
}

* {
  /* outline: 1px dotted gray; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* typography */
a {
  text-decoration: none;
  color: inherit;
  transition: 1s;
}

.pending {
  color: var(--pending);
}

.rejected {
  color: var(--rejected);
}

.hired {
  color: var(--hired);
}

/* divs */
#root {
  display: flex;
  height: 100vh;
    overflow-y: hidden;

}

.App {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  width: 100%;
  align-items: center;
  background-color: var(--secondary);
  color: var(--tertiary);
  font-variant: small-caps;
  flex-grow: 1;

}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  width: inherit;
}

header,
footer {
  padding: .25rem .5rem;
}

header,
main {
  background-color: var(--primary);
}

footer {
  color: var(--primary);
}

nav {
  display: flex;
  justify-content: space-around;
}

main {
  background-color: transparent;
  height: 100%;
  gap: 1rem;
  align-items: center;
  padding: 1rem .5rem;
}

section {
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--primary);
}

/* job */
.job-form-section {
  width: 75vw;
}

/* universal form styles */
.job-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5rem;
}

.job-form article {
  display: flex;
  flex-direction: column;
}

.job-form .wrapper {
  grid-column: span 2;
}

.wrapper {
  gap: .25rem;
}

fieldset {
  grid-column: span 2;
  display: flex;
  gap: 2rem;
  padding: .25rem .5rem
}

input, textarea, button {
    transition: 1s;
}

input,
button {
  border-radius: 4rem;
  padding: .5rem;
}

input, textarea {
  background-color: var(--secondary);
  border: none;
}

input:focus, textarea:focus {
  outline: none;
  background-color: var(--tertiary);
}

textarea {
  border-radius: 1rem;
  padding: .5rem;
}

button {
  font-variant: small-caps;
  background-color: var(--button);
  border: none;
  transition: 1s;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {

  body,
  input,
  textarea,
  button {
    font-size: 1.5rem;
  }

  header {
    flex-direction: row;
    gap: 1rem;
  }

  nav {
    flex-grow: 1;
    align-items: center;
  }

  section {
    gap: 1.25rem;
  }
}

@media screen and (min-width: 1024px) {

  .App {
    overflow-y: none;
    height: 100vh;
  }

  main {
    flex-grow: 0;
    height: 85%;
  }

  .job-form-section {
    width: 50vw;
  }
}