/* job */
.job-form-section {
    width: 75vw;
}

/* universal form styles */
.job-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem 3rem;
}

.job-form article {
    display: flex;
    flex-direction: column;
}

.job-form .wrapper {
    grid-column: span 2;
}

@media screen and (min-width: 1024px) {
    .job-form-section {
        grid-column: span 2;
        justify-self: center;
        width: 50vw;
    }
}