.job-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem 3rem;
}

.job-form article {
    display: flex;
    flex-direction: column;
}

.job-form .wrapper {
    grid-column: span 2;
}

@media screen and (min-width: 1024px) {
    main {
        grid-template-areas:
            "c a"
            "c b";
        grid-template-rows: max-content auto;
    }

    .job-form-section {
        grid-column: span 2;
        justify-self: center;
        width: 50vw;
    }

    .job-form {
        gap: 1rem 0;
    }
}