.job-form {
    display: grid;
}

.job-form button {
    align-items: center;
}

.job-form button,
.job-form label[for='role'],
.job-form label[for='company'] {
    grid-column: 1/-1;
}

.job-form .wrapper {
    display: flex;
    flex-direction: column;
}

#add-job,
#edit-job {
    grid-template-columns: 1fr 1fr;
    gap: .5rem 2rem;

    & fieldset {
        justify-content: flex-start;

        & label {
            display: inherit;
            gap: 0 .5rem;
        }
    }
}

@media screen and (min-width: 750px) {
    main {
        grid-template-areas:
            "c a"
            "c b";
        grid-template-rows: max-content auto;
    }

    .job-form-section {
        grid-column: span 2;
        justify-self: center;
    }

    #add-job {
        gap: .75rem;
    }

    #add-job .wrapper {
        grid-column: 1 / -1;
    }

    fieldset input {
        margin-right: .25rem;
    }
}

@media screen and (min-width: 1024px) {
    #edit-job {
        grid-template-columns: repeat(5, 1fr);

        & label[for="company"],
        button {
            grid-column: span 1;
        }

        & .wrapper {
            gap: 0;
        }

        & button {
            height: max-content;
            margin-top: 1rem;
        }
    }
}