#job-profile {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .5rem;
}

#job-profile h2 {
    grid-column: span 3;
}

.job-detail {
    display: flex;
    flex-direction: column;
}

.job-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#notes-section {
    max-height: 60vh;
}

#notes-section h2 {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    box-shadow: 0 -.5rem 0 1rem var(--primary);
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.note-form textarea {
    resize: none;
    height: 4rem;
}

/* note list component */
#notes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.note {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "a c"
        "b c";
}

.note h3 {
    grid-area: a;
}

.note p {
    grid-area: b;
    font-variant: normal;
}

.note button {
    grid-area: c;
    height: fit-content;
}

@media screen and (min-width: 768px) {

    #job-options {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "a b"
            "c c";
        gap: .5rem 1rem;
    }

    #job-options h2 {
        grid-area: a;
    }

    #job-options .job-buttons {
        grid-area: b;
    }

    #job-options .note-form {
        grid-area: c;
    }
}

@media screen and (min-width: 1024px) {

    #job-options {
        display: flex;
    }

    /* section | notes */
    #notes-section {
        max-height: inherit;
        height: 100%;
    }

    #notes-section button {
        padding: .15rem 1rem;
    }
}