.job-section,
.notes-section {
    width: 100%;
}

.job-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .25rem 1rem;
    padding: .25rem .5rem;
}

.job-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.notes-section {
    max-height: 60vh;
    overflow-y: hidden;
}

.note-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.note-form textarea {
    resize: none;
    height: 4rem;
}

/* note list component */
.notes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.note {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "a c"
        "b c";
}

.note h3 {
    grid-area: a;
}

.note p {
    grid-area: b;
}

.note button {
    grid-area: c;
    height: fit-content;
}

@media screen and (min-width: 1024px) {

    /* h2 {
        font-size: 1.5rem;
    } */
    .job-details {
        display: flex;
        flex-direction: column;
    }

    .job-details p:nth-child(even) {
        padding-left: 1rem;
    }

    .notes-section {
        width: 60vw;
        max-height: inherit;
        height: 100%;
    }

    .notes-section button {
        padding: .15rem 1rem;
    }

    .job-details {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}