#login-page {
    width: max-content;

    & .user-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .wrapper {
            display: inherit;
            flex-direction: inherit;
        }

        & h2 {
            text-align: center;
        }

        & button {
            align-items: center;
        }
    }
}

@media screen and (min-width: 768px) {
    #login-page {

        & .user-form {
            gap: 1.25rem;

            & .wrapper {
                gap: .25rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .user-form-section {
        justify-self: center;
        grid-column: span 2;
    }

    .user-form .wrapper {
        gap: .5rem;
    }

}