/* section | profile */
#profile-section {
    /* grid-row: 1 / -1; */
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, min-content);
    align-items: flex-start;
    gap: .5rem 1rem;

    & h2,
    button {
        grid-column: 1 / -1;
    }

    & .profile-detail {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    & button {
        padding: .25rem;
    }
}

/* section | resume list */
#resumes-list li {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}
/* section | resume */
#resume-section {
    height: 100%;
    overflow-y: scroll;

    & button {
        padding: 0 .5rem;
        height: min-content;
    }

    & h3 {
        width: 100%;
        & button {
            margin-right: .5rem;
        }
    }

    & article {
        display: inherit;
        flex-wrap: wrap;
        gap: .5rem 2rem;

        & div {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: .5rem 1rem;
            outline: 1px solid var(--blue);
            padding: .5rem;
            width: 100%;
            border-radius: 1rem;
        }

        & .education {
            & .delete-btn {
                /* row s, col s, row e, col e */
                grid-area: 1 / 3 / -1 / -1;
            }
        }

        & .experience {
            & .delete-btn {
                grid-area: 1 / 3 / 4 / -1;
            }
        }
    }
}